{% extends "layout.html" %}

{% block title %}{{block.super}}Loans{% endblock %}

{% block page_title %}Loans{% endblock %}

{% block entire_page_content %}
{% if loans %}
<div class=container>

</div>
    <div class="table-responsive">
    <table class="table table-striped align-right">
        <thead>
          <tr>
            <th>Made to</th>
            <th>Item</th>
            <th>Loan Date</th>
            <th>Return Date</th>
          </tr>
        </thead>
        <tbody>
        {% for loan in loans %}
          <tr {% if loan.is_late %}class="danger"{% endif %}>
            <td>{{loan.to.username}}</td>
            <td>{{loan.item.name}}</td>
            <td>{{loan.loan_date|date}}</td>
            <td>{{loan.return_date|date}}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    {% else %}
        <p class="text-center">No active loans.</p>
    {% endif %}
{% endblock %}
